@import "tailwindcss";

html {
  font-size: 87.5%;
  scroll-behavior: smooth;
}

@media (min-width: 1024px) {
  html {
    font-size: 80%; /* Balanced zoom out for desktop screens */
  }
}
@media (min-width: 1536px) {
  html {
    font-size: 85%; /* Slight adjustment for ultra-wide screens */
  }
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDFBF7;
  color: white;
}
